table {
    order: 1;
    border-collapse: collapse;
    border: solid 1px black;
    margin: auto;
    position: relative;
    margin-top: 0;
}


tr, td, th {
    border: solid 1px black;
    padding: 5px 10px;
    font-size: 2rem;
    background: #bebebe;
    text-align: center;
}

tr:nth-child(2) {
    color: rgb(15, 201, 15);
}

tr:nth-child(3) {
    color: rgb(217, 19, 8);
}

p {
    margin: 10% 30%;
    font-size: 1.5rem;
}